@use "assets/scss/styles";
@use "assets/scss/variables" as *;

body{
    background: url("/assets/images/beautiful-farm.jpg");
    background-repeat:repeat;
    background-position:center center;
    background-attachment:fixed;
    background-size:cover;
    z-index:-1;
}


#submit-block{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:5px;
}

#login-error{
    margin-top:10px;
    color:red;
    width:250px;
    text-align: center;
}
