<h4 class="text-gray-800" style="margin-bottom: 20px;">{{ welcome_back_greeting }}</h4>

<div class="container-fluid">
	<div id='concise-details' class='row'>
		
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card sb-admin-card border-left-primary shadow h-100 py-2" hyperlink="{{rel_dirname}}/users/staffs.php">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="title text-xs font-weight-bold sb-text-primary text-uppercase mb-1">Staffs</div>
						<div class="content h5 mb-0 font-weight-bold text-gray-800">{{ staffs_count }}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-users fa-2x text-gray-300"></i>
					</div>
					</div>
				</div>
			</div>
		</div>

		
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card sb-admin-card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="title text-xs font-weight-bold text-success text-uppercase mb-1">Disputes</div>
						<div class="content h5 mb-0 font-weight-bold text-gray-800">{{ pending_disputes_count }}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-bug fa-2x text-gray-300"></i>
					</div>
					</div>
				</div>
			</div>
		</div>
		

		{% if budget_isset and (user.clearance == "CEO" or user.clearance == "operation_head" or user.clearance == "finance_department" or user.clearance == "admin") %}
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card sb-admin-card border-left-info shadow h-100 py-2" hyperlink="{{rel_dirname}}/finance/budget.php">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="title text-xs font-weight-bold text-info text-uppercase mb-1">Budget</div>
							<div class="content h5 mb-0 font-weight-bold text-gray-800">&#8358;{{ budget.formatted_total_amount }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-store fa-2x text-gray-300"></i>
						</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card sb-admin-card border-left-warning shadow h-100 py-2" hyperlink="{{ rel_dirname }}/finance/expenditure-timeline.php">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="title text-xs font-weight-bold text-warning text-uppercase mb-1">Expenditure</div>
							<div class="content h5 mb-0 font-weight-bold text-gray-800">&#8358;{{ formatted_total_expenditure }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-credit-card fa-2x text-gray-300"></i>
						</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card sb-admin-card border-left-primary shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center" style="margin-bottom: 0;">
						<div class="col mr-2">
							<div class="title text-xs font-weight-bold sb-text-primary text-uppercase mb-1">Budget Balance</div>
							<div class="content h5 mb-0 font-weight-bold text-gray-800">&#8358;{{ formatted_budget_balance }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-list fa-2x text-gray-300"></i>
						</div>
						</div>
					</div>
				</div>
			</div>



			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card sb-admin-card border-left-success shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center" style="margin-bottom: 0;">
						<div class="col mr-2">
							<div class="title text-xs font-weight-bold text-success text-uppercase mb-1">% Expended</div>
							<div class="row no-gutters align-items-center mt-3">
								<div class="col-auto" style="margin-left: 12px;">
								  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ budget_percentage_expended }}%</div>
								</div>
								<div class="col">
								  <div class="progress progress-sm mr-2">
									<div id="budget_percentage_expended-progress-bar" class="bg-info" role="progressbar"  aria-valuenow="{{ budget_percentage_expended }}" aria-valuemin="0" aria-valuemax="100"></div>
								  </div>
								</div>
							  </div>
						</div>
						<div class="col-auto" style="margin-left: 20px;">
							<i class="fas fa-percentage fa-2x text-gray-300"></i>
						</div>
						</div>
					</div>
				</div>
			</div>

		{% endif %}

	</div>
</div>

<!--
<div class="col-xl-4 col-lg-5">
	<div class="card shadow mb-4">
	  <!-- Card Header - Dropdown
	  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
		<h6 class="m-0 font-weight-bold text-primary">Budget overview</h6>
		<div class="dropdown no-arrow">
		  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
		  </a>
		  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
			<div class="dropdown-header">Dropdown Header:</div>
			<a class="dropdown-item" href="#">Action</a>
			<a class="dropdown-item" href="#">Another action</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">Something else here</a>
		  </div>
		</div>
	  </div>
	  <!-- Card Body 
	  <div class="card-body">
		<div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
		  <canvas id="myPieChart" width="347" height="306" class="chartjs-render-monitor" style="display: block; height: 245px; width: 278px;"></canvas>
		</div>
		<div class="mt-4 text-center small">
		  <span class="mr-2">
			<i class="fas fa-circle text-primary"></i> Direct
		  </span>
		  <span class="mr-2">
			<i class="fas fa-circle text-success"></i> Social
		  </span>
		  <span class="mr-2">
			<i class="fas fa-circle text-info"></i> Referral
		  </span>
		</div>
	  </div>
	</div>
  </div>
-->


{% if has_pending_leave_request %}
	<div class="alert alert-primary" style="margin-top: 30px;">
		You have a pending leave request
	</div>
{% endif %}


{% if user.office_id == "CEO" or user.office_id == "HR" or user.office_id == "operation_head" %}
	<div style="margin-top:50px;">
		<div class="card shadow mb-4">
		<!-- Card Header - Dropdown -->
		<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
			<h6 class="m-0 font-weight-bold sb-text-primary">Staff manning &bull; {{ staff_manning_date }} &bull; <span role="link" class="filter-staff-manning">Filter</span></h6>
			<div class="dropdown no-arrow">
			<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
				<div class="dropdown-header">Dropdown Header:</div>
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Something else here</a>
			</div>
			</div>
		</div>
			
			<!-- Card Body -->
			<div class="card-body">
				
				{% for date,man_info in staff_manning %}
					<div style="margin-bottom: 70px;">
						<h4>{{ date }}</h4>
						
						<table class="table staff-manning-table">

							<tr class="top-row">
								<th>Name</th>
								<th>Office</th>
								<th>Time in</th>
								<th>Time out</th>
							</tr>
					
					

							{% for man in man_info %}

								{% if man.time_in >= man.time_in|day_timestamp(8+(1/60)) %}
									{% set late = "late" %}
								{% else %}
									{% set late = "" %}
								{% endif %}

								<tr db_id="{{ man.id }}" class="{{ late }}">
									<td class="name">{{ man.user.name }}</td>
									<td class="office"> {{ man.user.office }} </td>
									<td class="time_in"> {{ man.detailed_time_in }} </td>
									<td class="time_out"> {{ man.detailed_time_out }} </td>
								</tr>
							{% endfor %}

						</table>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>
{% endif %}