@use "assets/scss/styles";
@use "assets/scss/variables" as *;

.table td{
    color: black !important;
    font-weight: 400;
}

.table th{
    color: black;
    font-weight: 700;
}

#filter-staff-manning-form > div{
    margin-bottom: 15px;
}

.staff-manning-table .late td{
    color: red !important;
}